<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
				<add key="Nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="OpenCredentialsPublisher" value="https://pkgs.dev.azure.com/RANDA-Products/aa52fe78-d60b-4d73-9145-c762bc16cdae/_packaging/Public/nuget/v3/index.json" />
	</packageSources>
</configuration>